.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0%;
  padding: 0%;
  /* background-color: rgb(40, 46, 48); */
  /* color: #ddd; */
  font-family: Inter, sans-serif;
}
.main-container {
  padding: 50px;
}
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 20px 10px 20px;
  /* background-color: rgb(26, 33, 36); */
}

.main-container {
  margin: 3%;
}

.carousel-item {
  height: 800px;
}

.carousel-item img {
  height: 100% !important;
  object-fit: cover;
}

.d-flex div {
  margin: 10px;
}

.main-content-container li {
  margin: 2%;
  font-weight: bolder;
}
.main-content-container li::marker {
  color: green;
  font-size: 50px;
  margin: 0%;
  padding: 0%;
}

.card {
  border-radius: 20px;
  width: 300px;
  /* background-color: rgb(26, 33, 36); */
}
.employees {
  display: flex;
  justify-content: space-between;
  /* max-width: 400px; */
  margin: 50px;
  padding: 10px 0;
}

.cardContent {
  padding: 20px;
}
.cardImage {
  width: 100%;
  height: 280px;
  border-radius: 20px 20px 0px 0px;
}
.personalInfo {
  text-align: center;
}
.personalInfo h6 {
  color: green;
}
.info {
  margin: 0%;
}
.personalInfo button {
  margin: 10px;
  width: 110px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
}
.fa {
  margin-right: 10px;
}
.bio {
  font-size: 11px;
  margin: 0%;
}
.bio p {
  margin: 0%;
}
.bio h3 {
  margin-bottom: 10px;
}

.socialHandles {
  text-align: center;
  font-size: 15px;
  /* background-color: black; */
  border-radius: 0px 0px 25px 25px;
}
.socialHandles .fa {
  padding: 15px;
}

/* .footer {
  background-color: rgb(52, 56, 79);
  color: azure;
} */

.image-container {
  /* padding: 0px 0px 10px 100px; */
  display: flex;
  align-items: center;
  padding: 50px;
}
.image-container div {
  background-size: 100% 100%;
  border-radius: 20px;
  margin: 10px 10px 0px 0px;
}
.image1 {
  background-image: url("./images/shok-absober.jpg");
  width: 250px;
  height: 300px;
}

.image2 {
  background-image: url("./images/ball-bearing.jpg");
  width: 250px;
  height: 200px;
}

.image3 {
  background-image: url("./images/ball-joint.jpg");
  margin-top: 30px;
  width: 250px;
  height: 250px;
}
.image4 {
  background-image: url("./images/oil-filter.jpg");
  width: 280px;
  height: 300px;
}

.image5 {
  background-image: url("./images/wheel-bearing.jpg");
  width: 280px;
  height: 200px;
  margin-top: 30px;
}
.image6 {
  background-image: url("./images/arm-bush.jpg");
  width: 380px;
  height: 400px;
}

.product-card {
  width: 200px;
  padding: 0px 10px 0px 10px;
}

.prod-image {
  width: 100%;
  height: 160px;
  border-radius: 20px;
}
.prod-catalog {
  margin: 0px 50px;
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: inherit;
}
.prod-desc {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.prod-rating {
  margin-left: 5px;
}
.prod-desc p {
  margin: 3px;
  font-size: 12px;
}
.bold {
  font-weight: bolder;
}

.star {
  width: 10px;
  height: 10px;
}

.product-banner {
  margin: 5px;
  position: absolute;
  background-color: aliceblue;
  border-radius: 4px;
  color: black;
  font-size: 14px;
  padding: 2px;
}
